body {
    display: flex;
    padding: 0 0.5rem;
    font-family: 'Noto Sans JP', sans-serif;
    background-image: url("../picture/stone.png"); /*背景画像*/
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

ul.gnavi{
    position: fixed;
    padding: 0px;
    width: 14.5%;
    height: 100%;
    right: 0;
    top: -16px;
    background-color: #302e2e98;
    list-style: none;
}

ul.gnavi li{
    font-size: 24px;
    min-width: 100px;
    height: 60px;
    text-align: center;
    margin-top: 10%;
}

ul.gnavi li a{
    text-decoration: none;
    padding-top: 10%;
    width: 100%;
    height: 100%;
    color: #ffffff;
    display: block;
}

ul.gnavi li a:hover{
    background-color: #000000;
}