body {
    display: flex;
    /* padding: 0 0.5rem; */
    background-image: url('../picture/stone.png');
}

h1 {
    font-family : sans-serif;
    font-size : 30px;
    /* width: 150px; */
    margin-left: 50px;
    /* background-color: #ffffff; */
    text-shadow : 2px 2px 2px #4e4e4e;
}

h2 {
    font-family : sans-serif;
    font-weight: 3px;
    margin-left: 100px;
    font-size : 30px;
}

p {
    margin: auto;
    background-color: #ffffff3d;
    font-family : sans-serif;
    font-size : 25px;
    margin-left: 100px;
    margin-right: 100px;
}

ul {
    padding: 0px;
}

li {
    font-family : sans-serif;
    font-size : 20px;
    min-width: 100px;
    height: 40px;
    border-radius: 10px;
    margin-top: 10px;
    display: inline-block;
    background-color: #f00;
    border: 3px solid; /* 左右の幅を3pxに */
    border-color: #ff7a7a #c70000 #7e0000;
    text-align: center;
    box-shadow: 0px 0px 10px 5px #8f8f8f;
}

.board{
    width: 1100px;
    height: 800px;
    background-image: url('/picture/backgroundStone.png');
}

.description{
    display: flex;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 700px;
    background-color: #cdcdcd;
    box-shadow: 0px 0px 15px 10px #545454;
}

.holizonn{
    background-image: url('/picture/tall-holizon.jpg');
}

.ko-sutikku{
    background-image: url('/picture/tall-co-sutikku.png');
}

.pathfinder{
    background-image: url('/picture/tall-pathfinder.png');
}

.raihurainn{
    background-image: url('/picture/tall-raifurainn.jpg');
}

.revunannto{
    background-image: url('/picture/tall-revunannto.png');
}

.vanngaro-ru{
    background-image: url('/picture/tall-vanngaro-ru.png');
}

.finish{
    color: #303030;
    font-size: 50px;
    margin-top: 15px;
    margin-left: 720px;
    width: 50px;
    height: 50px;
}

.slider {
    position: fixed;
    gap: 5px;
    width: 120px;
    margin-left: 1100px;
    margin-top: 10px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
}
