body {
    display: flex;
    padding: 0 0.5rem;
    font-family: 'Noto Sans JP', sans-serif;
    background-image: url("../picture/stone.png"); /*背景画像*/
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;}

ul.gnavi{
    position: fixed;
    padding: 0px;
    width: 14.5%;
    height: 100%;
    right: 0;
    top: -16px;
    background-color: #302e2e98;
    list-style: none;
}

ul.gnavi li{
    font-size: 24px;
    min-width: 100px;
    height: 60px;
    text-align: center;
    margin-top: 10%;
}

ul.gnavi li a{
    text-decoration: none;
    padding-top: 10%;
    width: 100%;
    height: 100%;
    color: #ffffff;
    display: block;
}

ul.gnavi li a:hover{
    background-color: #000000;
}

h1 {
    font-family : sans-serif;
    color: #000000;
    width: 1050px;
    font-weight: normal;
    font-size : 50px;
    text-shadow : 3px 3px 3px #4b4b4b;
    text-align: center;
}

h2 {
    font-size : 18px;
    padding: 10px;
    background-color: #ffffff;
    border-bottom: solid 3px #ffffff;
}

p {
    font-family : sans-serif;
    font-size : 15px;
    font-weight: bold;
}

ul {
    padding: 0px;
}

li {
    font-family : sans-serif;
    font-size : 20px;
    min-width: 100px;
    height: 40px;
    border-radius: 10px;
    margin-top: 10px;
    display: inline-block;
    background-color: #f00;
    border: 3px solid; /* 左右の幅を3pxに */
    border-color: #ff7a7a #c70000 #7e0000;
    text-align: center;
    box-shadow: 0px 0px 10px 5px #8f8f8f;
}

li:active{
    transform: translateY(5px);
}

.board{
    display: flex;
    flex-direction: column;
    width: 1050px;
    margin-left: 10px;
}

.slider {
    position: fixed;
    /* gap: 5px; */
    width: 120px;
    margin-left: 1100px;
    margin-top: 10px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
}

.tierBoard{
    display: flex;
    width: 1050px;
    height: 700px;
    margin-left: 10px;
    background-color: #00000020;
}

.secondTierBoard{
    display: flex;
    flex-direction: column;
    width: 140px;
    height: 700px;
}

.therdTierBoard{
    display: flex;
    flex-direction: column;
    width: 1050px;
    height: 700px;
}

.tier1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f00;
    font-size: 50px;
    width: 100px;
    height: 100px;
    margin-top: 15px;
    margin-left: 15px;
    border-radius: 30px;
    background-color: #ffffff;
}

.tier2{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffee00;
    font-size: 50px;
    width: 100px;
    height: 100px;
    margin-top: 15px;
    margin-left: 15px;
    border-radius: 30px;
    background-color: #ffffff;
}

.tier3{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffee00;
    font-size: 50px;
    width: 100px;
    height: 100px;
    margin-top: 15px;
    margin-left: 15px;
    border-radius: 30px;
    background-color: #ffffff;
}

.tier4{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ff00ff;
    font-size: 50px;
    width: 100px;
    height: 100px;
    margin-top: 15px;
    margin-left: 15px;
    border-radius: 30px;
    background-color: #ffffff;
}

.tier5{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #001aff;
    font-size: 50px;
    width: 100px;
    height: 100px;
    margin-top: 15px;
    margin-left: 15px;
    border-radius: 30px;
    background-color: #ffffff;
}

.charactor1{
    display: flex;
    align-items: center;
    justify-content: left;
    width: 900px;
    height: 100px;
    margin-top: 15px;
    margin-left: 10px;
    border-radius: 30px;
    background-color: #ffffff;
}

.charactor3{
    display: flex;
    align-items: center;
    justify-content: left;
    width: 900px;
    height: 200px;
    margin-top: 15px;
    margin-left: 10px;
    border-radius: 30px;
    background-color: #ffffff;
}
